#header{
  width:100%
  height:50px;
  background-color:#888888;
  position:fixed;
  top:0
}
a.title{
  color:#ffffff;
  display:block;
  font-size:20px;
  font-family:Courier New, monospace;
  padding-top:15px;
  padding-left:20px;
  padding-bottom:15px;
}
